.register {
  background-color: #B11500;
	min-height: 100%;
	width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

.decoration {
  position: fixed;
  left: 10px;
  height: 100vh;
  width: calc(100% - 550px);
  overflow: hidden;
}

.decoration > * {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.decoration > .picturesGrid {
  top: 15%;
  width: 75%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
  width: 100%;
}

.decoration > .picturesGrid figure {
  flex: 0 0 70px;
  margin: 2px;
}

.decoration > .picturesGrid img {
  width: 100%;
  height: 100%;
}

.decoration > .overlapTextImage {
  bottom: 15%;
  width: 100%;
  max-width: 600px;
}

.formularUnder {
  background-color: #131A28;
  width: 520px;
  min-height: 100%;
  min-height: calc(100% - 10px);
  margin: 10px 10px 0 10px;
  padding: 10px 5px 0 5px;
}

.formularBackground {
  text-align: center;
  background-color: #9D9D9D;
  width: 100%;
  height: 100%;
  padding: 15px 5px;
}

.formularBackPath {
  clip-path:
    polygon(
      0% 60px,
      50px 0%,
      100% 0%,
      100% 100%,
      0 100%
    )
}

.formularBackPath section {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 85%;
}


.formularBackPath .character {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.character > img {
  width: 120px;
  opacity: 60%;
}

.formularBackPath h2, 
.character > .pseudo > h1 {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
  font-size: 1.5em;
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.pseudoInput {
  text-align: right;
}

.splitter {
  width: 100%;
  margin: 10px 0;
}

.formularBackPath h2 {
  margin: 0.2em auto;
}

.submit {
  background: none;
	font-size: 1.4em;
  border: none;
	height: 100%;
	color: #FF1E00;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
  text-shadow: 2px 2px 0px white;
}

@media (max-width: 720px) {
  .formularUnder {
    width: 100%;
    margin-top: 165px;
  }

  .decoration {
    width: calc(100% - 10px);
    left: 5px;
    right: 5px;
  }

  .decoration > .picturesGrid {
    top: 5px;
    height: 155px;
    overflow: hidden;
  }

  .decoration > .overlapTextImage {
    display: none;
  }

  .formularBackPath section {
    width: 100%;
    padding: 0 5px;
  }
}

