.register {
  display: table;
  height: inherit;
  background: url('/assets/background.jpg') no-repeat center fixed;
  background-size: cover;
	min-height: 100%;
	width: 100%;
}


.register.reveal {
  height: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row-reverse;
  min-height: 100%;
}

.container.reveal {
  flex-direction: row;
  height: 100%;
  padding: 10px;
}

.decoration {
  position: fixed;
  left: 10px;
  height: 100%;
  width: calc(100% - 550px);
  overflow: hidden;
  transition: 1s linear transform;
}

.revealSide {
  transform: translateX(530px);
}

.decoration > * {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.decoration > .picturesGrid {
  top: 50%;
  width: 75%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
  width: 100%;
}

.decoration > .revealMsg {
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 75%;
  max-width: 600px;
  width: 100%;
  text-align: center;
  font-size: 2.8em;
  font-weight: 800;
  -webkit-text-stroke: white 1px;
  color: #FF1E00;
  text-shadow: 3px 3px 0px white;
  opacity: 0;
  animation: fadein 0.7s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  margin: 0;
}

.decoration > .picturesGrid figure {
  flex: 0 0 120px;
  border: 4px solid black;
  margin: -3px 0 0 -3px;
}

.decoration > .picturesGrid img {
  width: 100%;
  height: 100%;
}

.content {
  z-index: 1;
  right:0;
  position: relative;
  width: 520px;
  min-height: 100%; /* Fallback */
  min-height: calc(100% - 10px);
  overflow: hidden;
}

.content.reveal {
	animation: fadein 1s linear;
}

.formularUnder {
  position: relative;
  background-color: #131A28;
  margin: 10px 10px 0 10px;
  padding: 10px 5px 0 5px;
}

.formularBackground {
  text-align: center;
  background-color: #9D9D9D;
  width: 100%;
  height: 100%;
  padding: 15px 5px;
}

.formularBackPath {
  clip-path:
    polygon(
      0% 60px,
      50px 0%,
      100% 0%,
      100% 100%,
      0 100%
    )
}

.formularBackground {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formularBackPath section {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 85%;
}


.formularBackPath .character {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.character > img {
  width: 120px;
  height: 120px;
}

.formularBackPath h2, 
.character > .pseudo > h1 {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
  font-size: 1.5em;
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.pseudoInput {
  text-align: right;
}

.splitter {
  width: 100%;
  margin: 10px 0;
}

.formularBackPath h2 {
  margin: 0.2em auto;
}

.submit {
  background: #eeef89;
  border: 3px solid black;
  border-radius: 10px;
	font-size: 1.4em;
	height: 100%;
	color: #FF1E00;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
  text-shadow: 2px 2px 0px white;
}

.content.reveal {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  left: 5px;
  top: 5px;
  bottom: 5px;
  background-color: #FF1E00;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

.content.reveal::-webkit-scrollbar {
  width: 7px;
}

.content.reveal::-webkit-scrollbar-track {
  background: transparent;
}

.content.reveal::-webkit-scrollbar-thumb {
  background: black;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  border: 3px solid black;
  border: 3px solid rgba(0, 0, 0, 0.5);
}

.revealImagesContainer {
  align-self: flex-start;
  position: fixed;
  width: inherit;
  object-fit: cover;
  padding: 20px;
}

.revealImage {
  width: 100%;
}

.content.reveal h1 {
  text-align: center;
  padding: 5px 25px;
  width: inherit;
  position: fixed;
  top: 0;
  font-size: 2em;
  font-weight: 900;
  color: white;
  text-shadow: 3px 3px 0px #0FCD25;
}

.content.reveal .square {
  align-self: flex-start;
  position: relative;
  width: 100%;
  z-index: 10;
}

.content.reveal .ready {
  position: absolute;
  width: inherit;
  opacity: 80%;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
}

.content.reveal .square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content.reveal .revealText {
  position: relative;
  width: 100%;
  padding: 5px 25px;
  text-align: center;
  background-color: #FF1E00;
}

.content.reveal .revealText h2 {
  display: none;
  color: white;
  font-size: 1.5em;
  font-weight: 800;
  text-shadow: 2px 2px 0px black;
}

.content.reveal .revealText p {
  font-size: 1.2em;
  color: white;
}

@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}


@media (max-width: 720px) {
  .content {
    width: 100%;
  }

  .formularUnder {
    margin-top: 265px;
  }

  .decoration {
    width: calc(100% - 10px);
    height: 253px;
    left: 5px;
    right: 5px;
  }

  .decoration > .picturesGrid {
    padding-top: 5px;
    top: 5px;
    overflow: hidden;
    transform: translateX(-50%);
  }

  .decoration > .revealMsg {
    display: none;
  }

  .decoration > .overlapTextImage {
    display: none;
  }

  .formularBackPath section {
    width: 100%;
    padding: 0 5px;
  }

  .content.reveal .revealText h2 {
    display: block;
  }

  .content.reveal {
    right: 5px;
    width: calc(100% - 10px);
  }
}
