.question .title {
  width: 100%
}

.question .answerSplitter {
  width: 75%;
  padding: 0 14px;
  margin: 5px 0;
}

.question .answerSplitter div {
  overflow: hidden;
  padding: 5px 14px;
  color: black;
  font-weight: 800;
}

.question input {
  position: absolute;
  opacity: 0; /* not display none to keep the focus */
  cursor: pointer;
}

.question input:checked + label .answerBackground {
  background-color: #FF7664;
}

.question input:focus + label .answerSplitter {
  background-color: white;
}

.question input:checked {
  margin: 10px;
}
