.question .title {
  width: 100%
}

.question .answerSplitter {
  width: 75%;
  padding: 0 14px;
  margin: 5px 0;
}

.question .answerSplitter div {
  overflow: hidden;
  padding: 5px 14px;
  color: white;
  font-weight: 800;
  -webkit-text-stroke: 0.8px black;
}

.question input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.question input:checked + label .answerBackground {
  background-color: #FF7664;
}
.question input:checked {
  margin: 10px;
}
